.about {
    background-color: var(--color-light-2);

    &-image {
    }

    &-text {
        margin-block: 1rem;
        line-height: 1.7;
    }
}

.avatar {
    aspect-ratio: 1 / 1;
    border-radius: 50%;    
    align-self: flex-start;
    overflow: hidden;

    img {
        aspect-ratio: 1 / 1;
        height: 100%;
        object-fit: cover;
    }
}